<app-menu></app-menu>
<div style="text-align: right">
  <img
    src="../../../assets/image/about.jpg"
    alt="first slide"
    style="display: block; width: 100%; height: 100vh"
  />
  <div style="margin: 20px; font-family: IRANSans2 !important">
    <h2 style="font-family: IRANSans1 !important; font-size: 22px">تماس با ما</h2>
    <br />
    <br />
    <h2 style="font-size: 18px">09128590371</h2>
    <br />
    <h2 style="font-size: 18px">02632559689</h2>
    <br />
    <br />
    <br />
  </div>
</div>
