.chat-page {
  background-color: #f5f5f5;
}

.chat-menu {
  height: 100px;
  background-color: white;
  font-family: "IRANSans2";
}

.chat-right {
  background-color: white;
  width: 300px;
  display: inline-block;
  height: 100vh;
  float: right;
  video {
    border: 1px solid;
    width: 260px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid;
    height: 204px;
  }
}

.chat-left {
  width: calc(100% - 300px);
  display: inline-block;
  height: calc(100vh - 50px);
  background-color: white;
}

.sender {
  float: right;
  margin: 20px;
  background-color: white;
  max-width: 500px;
  padding: 10px;
  text-align: right;
  border-radius: 15px;
  font-size: 13px;
  font-family: IRANSans2;
}

.receiver {
  float: left;
  margin: 20px;
  background-color: #838383;
  color: white;
  max-width: 500px;
  padding: 10px;
  text-align: right;
  border-radius: 15px;
  font-size: 13px;
  font-family: IRANSans2;
}

.chat-box {
  width: 100%;
  display: inline-block;
}

.chat-footer {
  background-color: white;
  bottom: 0px;
  position: absolute;
  width: calc(100% - 300px);
  mat-form-field {
    direction: ltr;
    text-align: right;
    float: right;
    margin-right: 10px;
    float: right;
    width: calc(100% - 50px);
  }
  button {
    margin-top: 10px;
  }
}

.user-menu-img {
  width: 60px;
  padding-top: 20px;
  padding-left: 20px;
  display: inline-block;
  img {
    border-radius: 50%;
    width: 67px;
    margin-right: 100px;
  }
}

.user-name {
  margin-left: 30px;
  font-family: IRANSans1 !important;
}

.file-upload {
  bottom: 0px;
  position: absolute;
  bottom: 0px;
  width: 300px;
  padding: 20px;
  position: absolute;
}

.counter {
  display: inline-block;
  float: right;
  margin-top: 30px;
  text-align: center;
}

.start-chat-btn {
  width: 60%;
  margin: 8px;
  font-family: "IRANSans2" !important;
  background-color: rgba(255, 0, 0, 0.616);
  color: white;
}

.file-list {
  text-align: right;
  border-top: 1px solid lightgrey;
  margin-left: 10px;
  margin-right: 10px;
  height: calc(100vh - 410px);
  overflow: auto;
}

.file-item {
  margin: 10px;
  padding: 10px;
  border: solid rgba(0, 0, 0, 0.226) 0.2px;
  border-radius: 10px;
}

.user-info {
  display: inline-block;
  position: absolute;
  margin-top: 31px;
  margin-left: 11px;
}

.chat-texts {
  overflow: auto;
  height: calc(100vh - 150px);
  margin-left: 10px;
  background-color: #bba5a538;
  border-radius: 6px;
}
