<div class="chat-page">
  <div>
    <div class="chat-right">
      <video id="remoteStream" autoplay playsinline></video>
      <div style="width: 100%; text-align: center">
        <button class="start-chat-btn" mat-button>
          فعال سازی ارتباط تصویری
        </button>
      </div>
      <div class="file-list">
        <!-- <div class="file-item">لیست فایل ها ی آپلود شده</div> -->
        <div class="file-item" *ngFor="let file of files">
          <a>{{ file.name }}</a>
        </div>
      </div>
      <div class="file-upload">
        <app-file-upload></app-file-upload>
      </div>
    </div>
    <div class="chat-left">
      <div class="chat-menu">
        <div class="user-menu-img">
          <img
            class="mat-elevation-z5"
            src="../../../assets/image/lawer4.jpg"
          />
        </div>
        <div class="user-info">
          <div class="user-name">{{ name }}</div>
          <div class="user-name">{{ desc }}</div>
        </div>
        <div class="counter" style="display: inline">
          <div>زمان باقی مانده</div>
          <div>{{ counterLabel }}</div>
        </div>
        <div style="text-align: right; display: inline; margin-left: 800px">
          <button
            class="start-chat-btn"
            mat-button
            style="width: 10px !important"
            [routerLink]="['/home']"
          >
            خروج
          </button>
        </div>
      </div>
      <div class="chat-texts">
        <div *ngFor="let text of texts">
          <div *ngIf="text.sender" class="chat-box">
            <div class="sender mat-elevation-z4">
              {{ text.text }}
            </div>
          </div>
          <div *ngIf="!text.sender" class="chat-box">
            <div class="receiver mat-elevation-z4">
              {{ text.text }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="chat-footer">
      <button (click)="sendMessage()" mat-icon-button>
        <mat-icon style="color: darkred">sender</mat-icon>
      </button>
      <mat-form-field style="font-family: IRANSans1 !important">
        <input [(ngModel)]="message" matInput placeholder="ارسال متن" />
      </mat-form-field>
    </div>
  </div>
</div>
