<app-menu></app-menu>
<div style="text-align: right">
  <img
    src="../../../assets/image/about.jpg"
    alt="first slide"
    style="display: block; width: 100%; height: 100vh"
  />
  <div style="margin: 20px; font-family: IRANSans2 !important">
    <h style="font-family: IRANSans1 !important; font-size: 22px">درباره ما</h>
    <br />
    <br />
    <h style="font-size: 18px">اهداف</h>
    <br />
    <br />
    <h>برای جامعه حقوقی</h>
    <br />
    <br />
    <p>
      ما با درک و تجربه چندین ساله خود نیازهای وکلا و متخصصان را به خوبی
      می‌دانیم. پلتفرمی ایجاد کردیم تا متخصصین بتوانند تمامی نیازها و فرایند‌ها
      قضائی توسط این سیستم مدیریت کنند. تبلیغات برای وکلا ممنوع است پس باید بر
      اساس گزارش عملکرد خود موکلین جدید را از خدمات و دانش خود بهره‌مند سازمند.
      سایت بنیاد وکلا با در نظر گرفتن شان وکالت و وکیل و بر پایه مدیریت دانش
      حقوقی بصورت جامع خدمات حقوقی را به نیازمندان خدمات مربوطه قابل ارائه کرده
      است. یک متخصص پرسش حقوقی پاسخ می‌دهد - مقاله حقوقی منتشر می‌کند - رزومه
      کاری خود را در پروفایلش کامل می‌کند - مسائل و مشکلات حقوقی را بصورت ویدئو
      و پادکست برای مردم شفاف می‌کند و بابت همه خدماتی که در قالب مشاوره تلفنی و
      حضوری و دیگر خدمات انجام می‌دهد امتیاز می‌گیرد و خود را متامیز می‌سازد.
    </p>
    <br />
    <h>برای جامعه قضایی</h>
    <br />
    <br />
    <p>
      در همه جای دنیا شکایت و ناراحتی از دستگاه قضا وجود داشته و ایران هم مستثنی
      نیست. ما معتقدیم بر اساس تحلیل مشکلات و مسائل مردم می‌توان فرایندها و
      قوانین دست و پا گیر را بر مبنای حقوق مردم بهینه سازی و ساده‌تر کرد. از
      طرفی با یکپارچه سازی قیمت خدمات حقوقی در کشور و استفاده حداکثری از جامعه
      حقوقی برای کمک رسانی به مردم می‌تواند تا مرحله قبل از ورود یک پرونده به
      دستگاه قضائی را کنترل شده و قابل مدیریت انجام داد. نقض مدارک - شروع پروسه
      پرونده‌ها با نتیجه از قبل مشخص - دریافت مشاوره‌های اشتباه مردم از افراد
      متخصص اما صودجو و دیگر موارد باعث می‌شود که با هدفمندسازی فعالیت‌های جامعه
      حقوقی از وروی پرونده‌ها به قوه قضائیه جلوگیری کرده و رضایت قابل توجهی از
      مردم در این مسیر پر پیچ و خم حاصل شود.
    </p>
    <br />
    <h>برای مردم</h>
    <br />
    <br />
    <p>
      آمار مشکلات حقوقی و قضائی مردم در کشور ایران قابل ملاحظه است. باید قدمی
      متفاوت برداشت. چرا که درخواست‌های مردم ساختار یافته و مشخص است. مرحله شروع
      و پایان همه چیز بعد از سال‌ها تحقیق و بررسی و تجربه کاری شفاف شده است.
      مسیرهای کاری حقوقی و قضائی را باید با در نظر گرفتن توانمندی‌های جامعه
      حقوقی و با ارتباط موثر با دستگاه قضا به نفع مردم به نتیجه رساند. نتیجه این
      امر اینگونه خواهد بود که مردم بدانند از کجا شروع کنند. چطور شروع کنند.
      نتیجه حاصل از این روند تا مقدار قابل توجهی قابل پیش‌بینی باشد و زمان و
      هزینه‌های خود را مدیریت کنند
    </p>
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
