<img
  class="login-background"
  src="../../../assets/image/login-background.jpg"
/>

<mat-card class="login-box mat-elevation-z5">
  <!-- <mat-card-header>
    <mat-card-title style="font-family: IRANSans1">ثبت نام</mat-card-title>
  </mat-card-header> -->

  <mat-horizontal-stepper class="reserve-stepper" #stepper>
    <mat-step>
      <ng-template matStepLabel> انتخاب تخصص</ng-template>
      <div>
        <mat-card-content style="margin-top: 18px; height: 300px">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1" class="radio-button"
              >وکیل پایه یک دادگستری
            </mat-radio-button>
            <mat-radio-button value="2" class="radio-button"
              >وکیل پایه یک قوه قضائیه</mat-radio-button
            >
            <mat-radio-button value="3" class="radio-button"
              >وکیل پایه دو قوه قضائیه</mat-radio-button
            >
            <mat-radio-button value="4" class="radio-button"
              >کارشناس حقوقی</mat-radio-button
            >
            <mat-radio-button value="5" class="radio-button"
              >کارشناس رسمی دادگستری</mat-radio-button
            >
            <mat-radio-button value="6" class="radio-button"
              >کارآموز قوه قضائیه</mat-radio-button
            >
            <mat-radio-button value="7" class="radio-button"
              >کارآموز دادگستری</mat-radio-button
            >
          </mat-radio-group>
        </mat-card-content>
        <button
          mat-raised-button
          color="accent"
          (click)="
            registerClicked(
              username.value,
              email.value,
              phoneNumber.value,
              password.value
            )
          "
          class="login-btn"
        >
          تایید
        </button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>تکمیل مشخصات</ng-template>
      <div>
        <mat-card-content style="margin-top: 18px; height: 300px">
          <div style="width: 100%; display: inline-block">
            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput placeholder="نام کاربری" #username />
            </mat-form-field>
          </div>
          <div style="width: 100%; display: inline-block">
            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput placeholder="ایمیل" #email />
            </mat-form-field>
          </div>

          <div style="width: 100%; display: inline-block">
            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput placeholder="شماره تماس" #phoneNumber />
            </mat-form-field>
          </div>

          <div style="width: 100%; display: inline-block">
            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput placeholder="رمز عبور" #password />
            </mat-form-field>
          </div>
        </mat-card-content>
        <button
          mat-raised-button
          color="accent"
          (click)="
            registerClicked(
              username.value,
              email.value,
              phoneNumber.value,
              password.value
            )
          "
          class="login-btn"
        >
          تایید
        </button>
        <p *ngIf="invalidLogin" class="alert alert-danger" style="color: red">
          Invalid username or password.
        </p>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel class="font"> آپلود مدارک</ng-template>
      <div>
        <app-file-upload></app-file-upload>
        <button
          mat-raised-button
          color="accent"
          (click)="
            registerClicked(
              username.value,
              email.value,
              phoneNumber.value,
              password.value
            )
          "
          class="login-btn"
        >
          تایید نهایی
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
