<div style="padding: 14px">
  <div class="info-cal">
    <div>ایمیل</div>
    <mat-form-field class="example-full-width" appearance="outline">
      <input
        [(ngModel)]="email"
        matInput
        placeholder=""
        #username
        style="text-align: right"
      />
    </mat-form-field>
    <div>شماره</div>
    <mat-form-field class="example-full-width" appearance="outline">
      <input
        [(ngModel)]="phone"
        matInput
        placeholder=""
        #username
        style="text-align: right"
      />
    </mat-form-field>
    <div>توضیحات</div>
    <mat-form-field class="example-full-width" appearance="outline">
      <input
        [(ngModel)]="desc"
        matInput
        placeholder=""
        #username
        style="text-align: right"
      />
    </mat-form-field>
  </div>

  <div class="info-cal">
    <div>نام</div>
    <mat-form-field class="example-full-width" appearance="outline">
      <input
        [(ngModel)]="name"
        matInput
        placeholder=""
        #username
        style="text-align: right"
      />
    </mat-form-field>
    <div>نام خانوادگی</div>
    <mat-form-field class="example-full-width" appearance="outline">
      <input
        [(ngModel)]="lname"
        matInput
        placeholder=""
        #username
        style="text-align: right"
      />
    </mat-form-field>
    <div>آدرس</div>
    <mat-form-field class="example-full-width" appearance="outline">
      <input
        [(ngModel)]="address"
        matInput
        placeholder=""
        #username
        style="text-align: right"
      />
    </mat-form-field>
  </div>

  <!-- <div *ngIf="pageMode != 'user'">
    <div class="user-file">امتیاز</div>
    <div style="padding: 20px">
      <app-file-upload></app-file-upload>
    </div>
  </div> -->
</div>
