.search-box {
  display: inline-block;
  width: 100%;
}

.filter {
  float: right;
  width: 250px;
  background-color: white;
  height: calc(100vh - 64px);
  right: 0;
  z-index: 2;
}

.result {
  width: calc(100% - 250px);
  height: calc(100vh - 64px);
  float: left;
}

.search-input {
  width: 190px;
  margin-top: 10px;
  margin-left: 5px;
}

.search-btn {
  margin-left: 5px;
}

.right-text-align {
  text-align: right;
}

.category {
  border-top: 1px solid lightgrey;
  margin-right: 5px;
  margin-left: 5px;
  text-align: right;
}

.category-title {
  font-weight: bold;
  font-size: 18px;
}

.category-box {
  margin-right: -20px !important;
  margin-left: -20px !important;
  padding-right: 20px !important;
  padding-left: 50px !important;
}

.category-img {
  padding: 15px;
  height: 300px;
  width: 100%;
}

.consultant-box {
  margin-right: unset !important;
  margin-left: unset !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  background-color: white;
  text-align: right;
}

.consultant-img {
  width: 40%;
  margin: auto;
  padding-top: 25px;
  img {
    border-radius: 50%;
  }
}

.consultant-detail {
  margin: 15px;
  text-align: center;
}

.slider-btn {
  color: white;
  background-color: #900000;
  margin-bottom: calc(100vh - 450px);
}

.desc {
  text-align: center;
  margin: 75px;
  b {
    font-size: 22px;
  }
  p {
    margin-top: 10px;
  }
}

.statistics {
  display: inline-block;
  padding: 10px;
  div {
    font-size: 12px;
  }
}

.reserve {
  margin-top: 10px;
  margin-bottom: 20px;
}

#topUserSlider ::ng-deep {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
  }

  .carousel-control-next {
    margin-right: -100px;
    position: absolute;
    span {
      margin-bottom: -70px;
    }
  }

  .carousel-control-prev {
    margin-left: -100px;
    position: absolute;
    span {
      margin-bottom: -70px;
    }
  }

  .carousel-control-next-icon:after {
    content: ">";
    font-size: 55px;
    color: lightgray;
  }

  .carousel-control-prev-icon:after {
    content: "<";
    font-size: 55px;
    color: lightgray;
  }

  .carousel {
    margin-right: 50px;
    margin-left: 50px;
  }
}

.row {
  width: 100vw;
}

.topUserSlider {
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 30px;
}

.logo {
  display: inline-block;
  mat-icon {
    margin-top: 15px;
    margin-left: 23px;
    color: #900000;
    margin-right: 10px;
    width: 43px;
    height: 43px;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
}

.center {
  text-align: center;
  vertical-align: middle;
}
