<mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items">
    <a mat-raised-button routerLink="login" routerLinkActive="active" style="margin-right: 10px">Sign In</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Sign Up</a>
  </span>
</mat-toolbar>

<div class="search-box">

  <div class="filter mat-elevation-z4">
    <button mat-mini-fab color="primary" class="search-btn">
      <mat-icon>search</mat-icon>
    </button>
    <mat-form-field appearance="outline" class="search-input">
      <input matInput placeholder="جستجوی مشاور" class="right-text-align">
    </mat-form-field>
    <div class="category">
      <div class="category-title">
        تخصص ها
      </div>
      <div>
        <div *ngFor="let category of categoryList">
          <button class="category-btn" mat-button>{{category.name}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="result">
    <div class="row">
      <div *ngFor="let consultant of consultantList" class="col-sm-3">
        <div class="consultant-box mat-elevation-z4">
          <div class="consultant-img">
            <img class="mat-elevation-z5" src="../../../assets/svg/profile.svg">
          </div>
          <div class="consultant-detail">
            <b>
              {{consultant.name}}
            </b>
            <div>
              {{consultant.desc}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- temporary footer-->
<div style="height: 50px;background-color: #4F4F4F;color: white;margin-top: -5px;">
  temporary footer!
</div>
