.login-background {
  width: 100%;
  height: 100vh;
}

.login-box {
  position: absolute;
  background-color: white;
  margin-top: calc(-50vh - 145px);
  margin-left: 100px;
  height: 320px;
  width: 21%
}

.login-btn{
  background-color: #900000;
}
