<app-menu></app-menu>

<div class="search-box">
  <mat-form-field class="search-input" appearance="outline">
    <input [(ngModel)]="searchText" matInput placeholder="جستجوی با نام مشاور" />
  </mat-form-field>
  <button (click)="search()" mat-raised-button class="search-btn">جستجو</button>
</div>

<div class="row">
  <div *ngFor="let consultant of users" class="consultant-box col-sm-3">
    <div class="consultant-box">
      <div class="mat-elevation-z4">
        <div class="consultant-img">
          <img class="mat-elevation-z5" [src]="image" />
          <!-- <img class="mat-elevation-z5" [src]="consultant.img" /> -->
        </div>
        <div class="consultant-detail">
          <b>
            {{ consultant.name }}
          </b>
          <div style="color: gray; font-family: IRANSans2 !important">
            {{ consultant.desc }}
          </div>
          <div>
            <div class="statistics">
              <div>
                <mat-icon class="mat-icon-phone">phone</mat-icon>
              </div>
              <div>تعداد مشاوره</div>
              <div>18</div>
            </div>
            <div class="statistics">
              <div>
                <mat-icon class="mat-icon-star">star_rate</mat-icon>
              </div>
              <div>رضایت مشتریان</div>
              <div>4.2</div>
            </div>
          </div>
          <button (click)="startReserve()" mat-stroked-button color="primary" class="reserve">
            شروع گفتگو
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
