.search-box {
  display: inline-block;
  width: 100%;
}

.filter {
  float: right;
  width: 250px;
  background-color: white;
  height: calc(100vh - 64px);
  right: 0;
  z-index: 2;
}

.result {
  width: calc(100% - 250px);
  height: calc(100vh - 64px);
  float: left;
}

.search-input {
  width: 190px;
  margin-top: 10px;
  margin-left: 5px;
}

.search-btn {
  margin-left: 5px;
}

.right-text-align {
  text-align: right;
}

.consultant-box {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  text-align: right;
  padding: 20px;
}

.consultant-img {
  width: 40%;
  margin: auto;
  padding-top: 25px;
  img {
    border-radius: 50%;
  }
}

.consultant-detail {
  margin: 15px;
  text-align: center;
}

.slider-btn {
  color: white;
  background-color: #900000;
  margin-bottom: calc(100vh - 450px);
}

.desc {
  text-align: center;
  margin: 30px;
  b {
    font-size: 25px;
  }
  p {
    margin-top: 10px;
  }
}

.statistics {
  display: inline-block;
  padding: 10px;
  div {
    font-size: 12px;
  }
}

.search-input {
  direction: ltr;
  text-align: right;
  float: right;
  margin: 10px;
}

.search-btn {
  background-color: #900000;
  color: white;
  float: right;
  margin-top: 20px;
}

.search-box {
  width: 100%;
  display: inline-block;
}

.reserve{
  margin-bottom: 15px;
}
