<div class="top-menu">

  <div class="logo">
    <mat-icon svgIcon="courthouse"></mat-icon>
    <span>Lorem, ipsum.</span>
  </div>

  <div class="info-box">
    <div class="info-box-icon">
      <mat-icon>phone</mat-icon>
    </div>
    <div  class="info-box-text">
      <div>Lorem ipsum dolor sit amet. </div>
      <div class="light-text">Lorem ipsum dolor sit amet. </div>
    </div>
  </div>

  <div class="info-box">
    <div class="info-box-icon">
      <mat-icon>location_on</mat-icon>
    </div>
    <div  class="info-box-text">
      <div>Lorem ipsum dolor sit amet. </div>
      <div class="light-text">Lorem ipsum dolor sit amet. </div>
    </div>
  </div>

</div>

<div class="bottom-menu">
  <div class="menu-links">
    <button mat-button>صفحه اصلی</button>
    <button mat-button>درباره ما</button>
    <button mat-button>تماس با ما</button>
  </div>
</div>
