.top-menu {
  background-color: white;
  height: 80px;
}

.bottom-menu {
  background-color: #222;
  height: 50px;
}

.menu-links {
  display: inline-block;
  direction: rtl;
  float: right;
  margin-top: 5px;
  button {
    color: white;
  }
}

.light-text {
  color: lightgrey;
  margin-top: -5px;
  font-size: 13px;
}

.info-box {
  float: right;
  margin-right: 30px;
  margin-top: 23px;
  margin-left: 51px;
}

.info-box-icon {
  mat-icon {
    font-size: 38px;
    color: #900000;
    margin-right: 18px;
    margin-top: 11px;
  }
  position: absolute;
  margin-left: -41px;
  margin-top: -12px;
}

.info-box-icon2 {
  mat-icon {
    font-size: 38px;
    color: #900000;
    margin-right: 18px;
    margin-top: 11px;
  }
  position: absolute;
  margin-left: 40px;
  margin-top: -13px;
}

.info-box-text {
  display: inline-block;
  width: 180px;
  text-align: right;
}

.logo {
  display: inline-block;
  mat-icon {
    margin-top: 15px;
    margin-left: 23px;
    color: #900000;
    margin-right: 10px;
    width: 43px;
    height: 43px;
  }
  span {
    font-size: 20px;
  }
}

.search {
  float: left;
  background-color: white;
}
button {
  font-family: IRANSans2 !important;
  text-align: center;
}
