<div class="top-menu">
  <div class="logo">
    <mat-icon svgIcon="courthouse"></mat-icon>
    <span>دادجو</span>
  </div>

  <div class="info-box">
    <div class="info-box-icon">
      <mat-icon>location_on</mat-icon>
    </div>
    <div class="info-box-text">
      <div>گوهردشت، کرج، خیابان اصلی، بین یازدهم و دوازدهم شرقی</div>
      <div>
        <!-- <a
          class="light-text"
          href="https://www.google.com/maps/place/Alborz+Province,+Karaj,+Gohardasht,+Rastakhiz+Blvd,+Iran/@35.8590402,50.9718256,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x3f8dbf95ef45f011:0x722a04e54eba9bcd!2sKaraj,+Alborz+Province,+Iran!3b1!8m2!3d35.8400188!4d50.9390906!3m4!1s0x3f8dbf29105bf9e3:0xeb884abb5e24e7ec!8m2!3d35.8590402!4d50.9740143"
          >مکان یابی از روی نقشه</a
        > -->
      </div>
    </div>
  </div>

  <div class="info-box">
    <div class="info-box-icon2">
      <mat-icon>phone</mat-icon>
    </div>
    <div class="info-box-text">
      <div>09128590371</div>
      <div class="light-text">02632559689</div>
    </div>
  </div>
</div>

<div class="bottom-menu">
  <div class="menu-links">
    <button
      [routerLink]="['/home']"
      mat-button
      style="font-family: IRANSans3 !important"
    >
      صفحه اصلی
    </button>
    <button
      [routerLink]="['/about']"
      mat-button
      style="font-family: IRANSans3 !important"
    >
      درباره ما
    </button>
    <button
      [routerLink]="['/contact-us']"
      mat-button
      style="font-family: IRANSans3 !important"
    >
      تماس با ما
    </button>
  </div>

  <div class="menu-links" style="margin-right: 69%">
    <button
      style="font-family: IRANSans3 !important"
      mat-button
      [matMenuTriggerFor]="menuLogin"
    >
      ثبت نام
    </button>
    <mat-menu #menuLogin="matMenu">
      <button [routerLink]="['/register']" mat-menu-item>ثبت نام مشاور</button>
      <button [routerLink]="['/register-user']" mat-menu-item>
        ثبت نام کاربر
      </button>
    </mat-menu>

    <button
      style="font-family: IRANSans3 !important"
      mat-button
      [matMenuTriggerFor]="menu"
    >
      ورود
    </button>
    <mat-menu #menu="matMenu">
      <button [routerLink]="['/login/client']" mat-menu-item>ورود کاربر</button>
      <button [routerLink]="['/login/expert']" mat-menu-item>ورود مشاور</button>
    </mat-menu>
  </div>
</div>
