table {
  width: 100%;
  text-align: right;
  font-family: IRANSans2;
}

th {
  text-align: right !important;
}
.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  text-align: right;
  font-family: IRANSans3;
}
.time {
  float: right;
  margin-top: 5px;
}

.insert-btn {
  float: right;
  margin-top: 15px;
}
